::ng-deep .cdk-overlay-container {
  z-index: 1030 !important; /* higher than navbar */
//   background-color:brown !important;
}

::ng-deep .red .mat-mdc-snackbar-surface {
  background-color: #f44336 !important; /* red */
  color: white !important;
    border-radius: 8px;
}

::ng-deep .green .mat-mdc-snackbar-surface {
  background-color: #4caf50  !important; /* red */
  color: white !important;
  border-radius: 8px;
}


/* --- 1. ENTER ANIMATION (Right se Center aana) --- */
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0%);
    opacity: 1;
  }
}

.fade-slide-enter {
  animation: slideIn 400ms ease-in forwards;
}

/* --- 2. LEAVE ANIMATION (Center se Left chale jaana) --- */
@keyframes slideOut {
  from {
    transform: translateX(0%);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.fade-slide-leave {
  animation: slideOut 400ms ease-out forwards;
}

/* Wrapper setup */
.text-center {
  text-align: center;
  display: block;
}
