@if (showAlert ) {
   @if (submittedForm) {
    <div class="remove-mat-form-field-hint">
      <div class="remove-mat-form-field-hint">
        <app-alert-message [message]="displayAlertErrorList" (closed)="onAlertClosed()"></app-alert-message>
      </div>
    </div>
  }
}

<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-body table-responsive">

              <form id="myFilterForm" class="login-form" [formGroup]="myFilterForm" novalidate (ngSubmit)="onSubmit()">
                <div class="row">
                  <div class="col-md-2">
                    <button [disabled]="!myFilterForm.dirty" type="button" class="btn btn-primary w-100 signin-btn mb-4" (click)="clearFilter()">Clear</button>
                  </div>
                  <div class="col-md-2">
                    <mat-form-field appearance="outline" class="custom-search">
                      <mat-label>Search</mat-label>
                      <input matInput placeholder="Search records" required="" formControlName="searchItem" id="searchItem" required="">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <select #columnNameFilter id="filterName" class="form-control" formControlName="filterName">
                      <option value="FULL_NAME">Full Name</option>
                      <option value="EMAIL_ADDRESS">Email Address</option>
                      <option value="ROLE">Role</option>
                      <option value="PERMISSION">Permission</option>
                      <option value="AGE">Age</option>
                      <option value="GENDER">Gender</option>
                      <option value="COUNTRY">Country</option>
                      <option value="STATUS">Status</option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button [disabled]="!myFilterForm.dirty" type="submit" class="btn btn-primary w-100 signin-btn mb-4">Submit</button>
                  </div>
                </div>

              </form>

              <ngx-ui-loader [loaderId]="'table-loader'"></ngx-ui-loader>

                  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onSortChange($event)" [matSortDisableClear]="true">

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element let i = index"> {{ getRowNumber(i) }}</td>
                    </ng-container>

                    <ng-container matColumnDef="fullName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Full Name</th>
                        <td mat-cell *matCellDef="let element">
                           {{ [element.userOtherInformation?.firstName, element.userOtherInformation?.middleName, element.userOtherInformation?.lastName].filter(Boolean).join(' ') }}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="emailAddress">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email Address</th>
                        <td mat-cell *matCellDef="let element">{{element.email}}</td>
                    </ng-container>

                    <ng-container matColumnDef="roleName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
                        <td mat-cell *matCellDef="let element">{{element.role[0].name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="permissionName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Permission</th>
                        <td mat-cell *matCellDef="let element">{{element.role[0].permission[0].name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Age</th>
                        <td mat-cell *matCellDef="let element">{{element.userOtherInformation?.age}}</td>
                    </ng-container>

                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Gender</th>
                        <td mat-cell *matCellDef="let element">{{element.userOtherInformation?.gender}}</td>
                    </ng-container>

                    <ng-container matColumnDef="country">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
                        <td mat-cell *matCellDef="let element">{{element.userOtherInformation?.country}}</td>
                    </ng-container>



                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                        <td mat-cell *matCellDef="let element">{{element.createdAt | date: 'dd/MM/yyyy hh:mm a' }}</td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
                        <td mat-cell *matCellDef="let element">{{element.active }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">

                        <th mat-header-cell *matHeaderCellDef>Action</th>
                        <td mat-cell *matCellDef="let element">

                            <button class="me-4 chnageColourMouseOverBlue" mat-icon-button color="accent" title="{{element.active == 'ENABLE' ? 'Deactivate' : 'Activate'}}" (click)="openDailogForActivateAndDeactivateItem(element.id, element.active)">
                                 @if (element.active == "ENABLE") {
                                    <i class="bi bi-toggle-on fs-4"></i>
                                 }
                                 @else {
                                    <i class="bi bi-toggle-off fs-4"></i>
                                 }
                            </button>

                            <button class="chnageColourMouseOver" mat-icon-button color="accent" title="Delete" (click)="openDailogForDeteteItem(element.id)">
                                <i class="bi bi-trash-fill fs-5"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [length]="totalElements" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="[5, 10]" (page)="onPageChange($event)" showFirstLastButtons></mat-paginator>

            </div>
        </div>
    </div>
</div>

<div class="modal fade" [class.show]="showModal" [style.display]="showModal ? 'block' : 'none'" tabindex="-1"
    (click)="closeModal()">

    <div class="modal-dialog modal-dialog-centered mt-n8" (click)="$event.stopPropagation()">
        <div class="modal-content">

            <app-dialog-box [title]="modalTitle" [message]="modalMessage" [btnOkText]="'Yes'" [btnCancelText]="'No'"
                (confirmed)="onConfirm($event)" (closed)="closeModal()">
            </app-dialog-box>

        </div>
    </div>
</div>
<!-- Backdrop -->
@if (showModal) {
<div class="modal-backdrop fade show"></div>
}
