<section class="w-100 chat-section">
    <div class="container-fluid h-100 p-0">

        <div class="row h-100">
            <div class="col-md-12 h-100">

                <!-- Dynamic Responsive Card -->
                <div class="card chat-card" id="chat3">
                    <div class="card-body chat-card-body">

                        <div class="row chat-main-row">

                            <!-- Left Column: User List -->
                            <div class="col-md-6 col-lg-5 col-xl-4 user-list-column">
                                <div class="p-2 d-flex flex-column h-100">

                                    <div class="input-group rounded mb-3">
                                        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                        <span class="input-group-text border-0" id="search-addon">
                                            <i class="bi bi-search"></i>
                                        </span>
                                    </div>

                                    <!-- Scrollable User List Container -->
                                    <div data-mdb-perfect-scrollbar-init class="user-list-container pe-2">
                                        <ul class="list-unstyled mb-0">

                                            @for (item of friendList(); track $index)
                                            {
                                                <li class="p-2 border-bottom">
                                                    <a (click)="connect(item.id,item.photoData)" class="d-flex justify-content-between text-decoration-none">
                                                        <div class="d-flex flex-row">
                                                            <div class="avatar-wrapper me-3">
                                                                <img [src] ="item.photoData || 'assets/superAdminModule/images/user/user-xs-01.jpg'" width="45" height="45" alt="avatar" class="align-self-center rounded-circle">
                                                                <span class="badge bg-danger badge-dot"></span>
                                                            </div>
                                                            <div class="pt-1">
                                                                <p class="fw-bold mt-0 ml-2 text-dark text-center">
                                                                    {{item.fullName}}</p>
                                                                <!-- <p class="small text-muted mb-0">Lorem ipsum dolor sit.</p> -->
                                                            </div>
                                                        </div>
                                                        <div class="pt-1 text-end">
                                                            <p class="small text-muted mb-1">Yesterday</p>
                                                        </div>
                                                    </a>
                                                </li>
                                            }
                                            @empty 
                                            {
                                                <li class="p-4 text-center text-muted">
                                                    <p class="mb-0">No users found.</p>
                                                </li>
                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>

                            <!-- Right Column: Active Chat Area -->
                            @if(showMessagingTextBox)
                            {
                                <div class="col-md-6 col-lg-7 col-xl-8 chat-main-column">

                                    <!-- Messages Container -->
                                    <div #messagesContainer class="pt-3 pe-3 chat-messages-container" data-mdb-perfect-scrollbar-init>

                                        @for (item of messages; track $index) 
                                        {
                                            @if(item.type === "CHAT" || item.type === "IMAGE")
                                            {
                                                @if(item.sender != currentUserName)
                                                {
                                                    <div class="d-flex flex-row justify-content-start mb-3">
                                                        <img width="45" height="45" [ngSrc] = "anotherPhotoUrl || 'assets/superAdminModule/images/user/user-xs-01.jpg'" alt="avatar 1" class="chat-avatar flex-shrink-0 me-2 rounded-circle" style="object-fit: cover;">
                                                        <div>
                                                            <p class="small p-2 ms-2 mb-1 rounded-3 bg-body-tertiary">
                                                                @if(item.type === "IMAGE")
                                                                {
                                                                    <a [href]="item.content" target="_blank">
                                                                        <img width="250" height="250" [ngSrc]="item.content" alt="image message" class="img-fluid rounded-3" style="max-width: 250px; max-height: 250px; object-fit: cover; display: block;" />
                                                                    </a>
                                                                }
                                                                @else
                                                                {
                                                                    {{item.content}}
                                                                }
                                                            </p>
                                                            <p class="small ms-2 mb-3 rounded-3 text-muted float-end">{{ item.dataTime | date:'hh:mm a | MMM d' }}</p>
                                                        </div>
                                                    </div>
                                                }
                                                @else
                                                {
                                                    <div class="d-flex flex-row justify-content-end mb-3">
                                                        <div>
                                                            <p class="small p-2 me-2 mb-1 text-white rounded-3 bg-primary">
                                                               @if(item.type === "IMAGE")
                                                                {
                                                                    <a [href]="item.content" target="_blank">
                                                                        <img width="250" height="250" [ngSrc]="item.content" alt="image message" class="img-fluid rounded-3" style="max-width: 250px; max-height: 250px; object-fit: cover; display: block;" />
                                                                    </a>
                                                                }
                                                                @else
                                                                {
                                                                    {{item.content}}
                                                                }
                                                            </p>
                                                            <p class="small me-2 mb-3 rounded-3 text-muted">{{ item.dataTime | date:'hh:mm a | MMM d' }}</p>
                                                        </div>
                                                        <img width="45" height="45" [ngSrc] = "currentPhotoUrl ||'assets/superAdminModule/images/user/user-xs-01.jpg'" alt="avatar 1" class="chat-avatar flex-shrink-0 ms-2 rounded-circle" style="object-fit: cover;">
                                                    </div>
                                                }
                                            }
                                            @if(item.type === "LEAVE")
                                            {
                                               <div class="alert alert-danger chat-alert" role="alert">
                                                    <i class="mdi mdi-diameter-variant chat-alert-icon"></i>
                                                    <span class="chat-alert-content fw-bold">
                                                        {{ item.content }}
                                                    </span>
                                                </div>
                                            }
                                            @if(item.type === "CONNECTED")
                                            {
                                                <div class="alert alert-success chat-alert" role="alert">
                                                    <i class="bi bi-check-circle-fill me-2 chat-alert-icon"></i>
                                                    <span class="chat-alert-content fw-bold">
                                                        {{ item.content }}
                                                    </span>
                                                </div>
                                            }
                                        }

                                        @if(isUploading) {
                                            <div class="text-end text-muted small me-3">
                                                <span class="spinner-border spinner-border-sm me-1" role="status"></span>
                                                Uploading image...
                                            </div>
                                        }

                                    </div>

                                    <!-- Footer-Stuck Input Bar -->
                                    <div
                                        class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-auto border-top">
                                        <img width="40" height="40" [ngSrc] = "currentPhotoUrl ||'assets/superAdminModule/images/user/user-xs-01.jpg'" alt="avatar 3" class="input-avatar flex-shrink-0 me-2" style="object-fit: cover;">
                                        <input type="text" class="form-control form-control-lg me-2" [(ngModel)]="messageTextBoxArea" placeholder="Type message" (keydown.enter)="sendMessage($event)">
                                        
                                        <!-- Hidden File Input for Image Selection -->
                                        <input type="file" #fileInput (change)="onImageSelected($event)" accept="image/*" style="display: none;">
                                        
                                        <!-- Attachment Button -->
                                        <a class="ms-3s" href="#" (click)="$event.preventDefault(); fileInput.click()"><i class="bi bi-paperclip fs-5"></i></a>
                                        
                                        <!-- <a class="ms-1 text-muted" href="#" (click)="$event.preventDefault()"><i class="fas fa-paperclip fs-5"></i></a> -->

                                        <!-- Emoji Button -->
                                        <a class="ms-3" href="#" (click)="toggleEmojiPicker($event)"><i class="bi bi-emoji-smile-fill fs-5"></i></a>
                                        
                                        <!-- Emoji Picker -->
                                        @if (showEmojiPicker) 
                                        {
                                            <div class="emoji-picker-container"  (click)="$event.stopPropagation()">
                                                <emoji-picker (emoji-click)="onEmojiClick($event)"></emoji-picker>
                                            </div>
                                        }
                                        <a class="ms-3 text-primary" href="#" (click)="sendMessage($event)"><i class="bi bi-send-fill fs-5"></i></a>
                                    </div>
                                </div>
                            }
                            @else 
                            {
                                 <div class="col-md-6 col-lg-7 col-xl-8 chat-main-column align-items-center justify-content-center text-muted customBlankDiv">
                                  Chat not selected ...
                                 </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>