.custom-search {
  width: 100%;
  font-size: 13px;
}

.custom-search input {
  font-size: 14px;
}

::ng-deep .custom-search .mat-mdc-text-field-wrapper {
  height: 42px !important;
}

::ng-deep .custom-search .mat-mdc-form-field-flex {
  height: 42px !important;
}

::ng-deep .custom-search .mat-mdc-form-field-infix {
  min-height: 42px !important;
  height: 42px !important;
  padding: 0 !important;
  display: flex !important;
  align-items: center !important;
}

::ng-deep .custom-search .mat-mdc-floating-label {
  color: black !important;
  padding-bottom: 17px;
}

::ng-deep .custom-search input {
  color: black !important;
}

.chnageColourMouseOver:hover i {
    color: #dc3545;
    transition: color 0.2s ease-in-out;
}

.chnageColourMouseOverBlue:hover i {
    color: blue;
    transition: color 0.2s ease-in-out;
}

///////// css for select dropdown /////////////

/* Change mouse-over color *//* For select dropdown */
::ng-deep .choices__list--dropdown .choices__item--choice:hover {
  background-color: #9e6de0 !important;
  color: white !important;
}

/* Change selected item color *//* For select dropdown */
::ng-deep .choices__item--selectable.is-highlighted {
  background-color: #9e6de0 !important;
  color: white !important;
}

// select dropdown size  /* For select dropdown */
::ng-deep .choices__inner {
  min-height: 42px !important; /* Change height */
  padding: 7px 7px !important; /* Adjust padding */
}

// select dropdown item size  /* For select dropdown */
::ng-deep .choices__item{
  font-size: 0.7rem !important;
  font-weight:bold !important;
}

///////// css for select dropdown /////////////

.form-control::placeholder {
  color: #adb5bd;
  opacity: 1;
  font-size: 0.8rem;
}
