<div class="login-container">
  <div class="container-fluid h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="login-card">
          <div class="text-center mb-4">
            <div class="logo-container">
              <div>
                <img src="assets/logo/logos/symbol.png" alt="" width="90px" height="50px" style="margin-top: -20px" />
              </div>
            </div>
          </div>

            <form id="loginForm" class="login-form" [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
     <div class="mb-3">
              <label for="emailAddress" class="form-label">Email Address</label>
              <input type="text" class="form-control" id="emailAddress" name="emailAddress" required="" formControlName="emailAddress" />
            </div>

            @if (submitted && f['emailAddress'].errors) {
                    <div class="remove-mat-form-field-hint">
                        @if (f['emailAddress'].errors['required']) {
                            <div class="remove-mat-form-field-hint">
                                <strong>Email Address is required.</strong>
                            </div>
                        }
                        @if (f['emailAddress'].errors['minlength']) {
                            <div class="remove-mat-form-field-hint" style="padding-top: 5px;">
                                <strong>Minimum length of Email Address is 4</strong>
                            </div>
                        }
                        @if (f['emailAddress'].errors['email']) {
                            <div class="remove-mat-form-field-hint" style="padding-top: 5px;">
                                <strong>Please enter valid Email.</strong>
                            </div>
                        }
                    </div>
            }

            <button [disabled]="(!(f['emailAddress'].value.length>=4))" type="submit" class="btn btn-primary w-100 signin-btn mb-4">
              Submit
            </button>

            <div class="text-center">
              <span class="signup-text">New to Palekar Group? </span>
              <a [routerLink]="['/signUp']" class="signup-link">Create an account</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>