@if (showAlert) {
   @if (submittedForm) {
    <div class="remove-mat-form-field-hint">
      <div class="remove-mat-form-field-hint">
        @if(showSecondOption){
        <app-alert-message [message]="['Permission Name is required.']" (closed)="onAlertClosed()"></app-alert-message>
        }
        @else {
          <app-alert-message [message]="['Role Name is required.']" (closed)="onAlertClosed()"></app-alert-message>
        }
      </div>
    </div>
  } 
}

<div class="row">
  <div class="col-xl-12">
    <div class="card card-default">
      <div class="card-body">
        <form [formGroup]="createRoleForm" novalidate (ngSubmit)="onSubmit()">
          <div class="row mb-2">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
              <div class="form-group text-center">
                <label class="roleName" for="roleList">Role Name</label>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <select #dropdown id="roleList" class="form-control" formControlName="roleList">
                  <option value="ROLE_GUEST" >Guest</option>
                  <option value="ROLE_USER" >User</option>
                  <option value="ROLE_ADMIN" >Admin</option>
                  <option value="ROLE_SUPER_ADMIN" >Super Admin</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3">
               @if(!showSecondOption){
               <button id="" type="submit" class="btn btn-primary mb-2 btn-pill" style="margin-left: 4.8rem;">
                  Submit
                </button>
              }
            </div>
          </div>
          
          @if(showSecondOption){
             <div class="row mb-2">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
              <div class="form-group text-center">
                <label class="permissionName" for="permissionName">Permission Name</label>
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <select #dropdownTwo id="permissionName" class="form-control" formControlName="permissionName">
                  <option value="CREATE">Create</option>
                  <option value="UPDATE">Update</option>
                  <option value="DELETE">Delete</option>
                  <option value="VIEW">View</option>
                  <option value="ALL">All</option>
                </select>
              </div>
            </div>

            <div class="col-lg-3">
               <button type="submit" class="btn btn-primary mb-2 btn-pill" style="margin-left: 4.8rem;">
                  Submit
                </button>
            </div>
          </div>
          }

        </form>
      </div>
    </div>
  </div>
</div>