<div class="row" id="alertMessageShowAndHide" [@fadeOut]="state"  (@fadeOut.done)="onFadeDone($event)">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="alert alert-danger align-items-center"
                style="margin-bottom: 0rem; background-color: #f8d7da; color: #58151c" role="alert">
                @for(loop of message; track loop){
                        <i class="mdi mdi-alert"></i>
                        {{ loop }}
                        <br>
                }
                <button (click)="close()" class="position-absolute end-0 me-4">
                    <span style="font-size: 1.2rem; font-weight: 900">×</span>
                </button>
            </div>
        </div>
    </div>
</div>