<div class="row">
    <div class="col-xl-12">
        <div class="card card-default">
            <div class="card-body">

                <mat-form-field appearance="outline" class="custom-search">
                    <mat-label>Search</mat-label>
                    <input matInput (keyup)="applyFilter($event)" placeholder="Search records">
                </mat-form-field>


                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
                        <td mat-cell *matCellDef="let element let i = index"> {{ getRowNumber(i) }}</td>
                    </ng-container>

                    <ng-container matColumnDef="permissionName">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Permission Name</th>
                        <td mat-cell *matCellDef="let element">{{element.name}}</td>
                    </ng-container>

                    <ng-container matColumnDef="created">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
                        <td mat-cell *matCellDef="let element">{{element.createdAt }}</td>
                    </ng-container>

                    <ng-container matColumnDef="actions">


                        <!-- <mat-cell *matCellDef="let row; let i=index;">
                            <button mat-icon-button color="accent" (click)="startEdit(i, row.id, row.title, row.state, row.url, row.created_at, row.updated_at)">
                                <mat-icon aria-label="Edit">edit</mat-icon>
                            </button>

                            <button mat-icon-button color="accent" (click)="deleteItem(i, row.id, row.title, row.state, row.url)">
                                <mat-icon aria-label="Delete">delete</mat-icon>
                            </button>
                        </mat-cell> -->


                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                        <td mat-cell *matCellDef="let element">
                            <button mat-icon-button color="accent" title="Edit" (click)="startEdit(element.id)">
                               <i class="bi bi-pencil-fill fs-5"></i>
                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <button mat-icon-button color="accent" title="Delete" (click)="deleteItem(element.id)">
                              <i class="bi bi-trash-fill fs-5"></i>
                            </button>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>

                <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons>
                </mat-paginator>

            </div>
        </div>
    </div>
</div>