.custom-search {
  width: 20%;    
  height: 2%;       /* set width */
  font-size: 13px;      /* increase label + input font size */
}

.custom-search input {
  font-size: 14px;      /* input text size */
//   padding: 8px 12px;    /* adjust spacing */
}


// ::ng-deep .custom-search.mat-form-field-appearance-outline .mat-mdc-text-field-wrapper {
//   border-color: red !important;   /* outline color */
// }

// ::ng-deep .custom-search.mat-form-field-appearance-outline.mat-focused .mat-mdc-text-field-wrapper {
//   border-color: red !important;   /* focused outline color */
// }







::ng-deep .custom-search .mat-mdc-floating-label {
  color: black !important;          /* label color */
}

::ng-deep .custom-search input {
  color: black !important;          /* text color */
}

.chnageColourMouseOver:hover i {
    color: #dc3545;   /* Bootstrap danger red */
    transition: color 0.2s ease-in-out;
}