::ng-deep .success .mat-mdc-snackbar-surface {
  background-color: green !important; /* green */
  color: white !important;
    border-radius: 8px;
}

::ng-deep .danger .mat-mdc-snackbar-surface {
  background-color: #f44336 !important; /* red */
  color: white !important;
    border-radius: 8px;
}


::ng-deep .warning .mat-mdc-snackbar-surface {
  background-color: yellow !important; /* yellow */
  color: white !important;
    border-radius: 8px;
}



